.borda {
    border: 2px solid red;
}

.PaiDeTodos {
    height: 100vw;
}

.headline {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
     
}

.card-contents {
    display: flex;
    justify-content: space-between;
}